
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .leftbox {
    float: left;
    background: Red;
    width: 15%;
    height: 30%;
}

#middlebox {
    float: center;
    background: Green;
    width: 15%;
    height: 30%;
}

#rightbox {
    float: right;
    background: blue;
    width: 15%;
    height: 30%;
}

h1 {
    color: green;
    text-align: center;
}