.loader {
  border: 8px solid #f3f3f3; /* Thinner border */
  border-radius: 50%;
  border-top: 8px solid #3498db; /* Match the border thickness */
  width: 60px; /* Smaller width */
  height: 60px; /* Smaller height */
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}