

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#pie-chart-container {

    position: relative;
    font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width:100%;
  float:Right;
  height:65%;
  margin-bottom: 4%;


}
#container-data-analyize{
    margin-top:1%;
   float: right;
   display: block;
   width: 15%;
   height: 100%;


}
#bar-chart-container{
    position: relative;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width:100%;
    float:Right;
    height:25%;

 
   
    

}
h1 {
  text-align: center;
  margin: 20px 0;
  color: #565656;
}


#middle-container{
    position: relative;
    width:70%;

    height:100%;
    display: inline-block;
    
}

#left-container{
    margin-top:1%;
    position: relative;
    width:14%;

    height:100%;
    display: inline-block;
    
}


#relevant-jobs-container{
    overflow-y: scroll;
    position: relative;
    width:100%;
    height:37%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    float:Right;
    margin-bottom:1%;
}


#mylast-application-container{
    position: relative;
    width:100%;
    height:20%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    float:Right;
    margin-bottom:1%;
}



#your-data{
    position: relative;
    width:59%;
    height:20%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    float:Right;
    margin-bottom:1%;

}

#your-data-left{
    position: relative;
    width:40%;
    height:20%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    float:Right;
    margin-bottom:1%;
    margin-right:1%;

    font-family: "Open Sans", sans-serif;
}

#details-container{
    font-size: 10pt;
    
}



#companies-container{
    position: relative;
    width:100%;
    height:10%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    float:Right;
 
}

.image-companies-container{
    position: relative;
    width:15%;
    height:100%;
    display: inline-block;

}

.image-companies-container img{
    position: relative;
    width:40%;
    height:60%;
}

#logo-companies-container{
    align-items: center;
    position: relative;
    left:10%;
}

#companies-numbers-container{
    position: relative;
   
    width:30%;
    height:100%;

}

.value{
    position: relative;
    font-size: 100%;
}

#menu-container{
        
        position: relative;
        width:100%;
        height:80%;
        position: relative;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        float:Right;
        margin-bottom:1%;
    
        
    
    
}

#QA{
    margin-top:4%;
    position: relative;
    width:100%;
    height:10%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    float:Right;
    margin-bottom:1%;

    


}

#profile-menu-container{
    position: relative;
    width: 100%;
    height:15%;
   
}

#image-profile-menu-container{
    position: relative;
    width: 100%;
    height:55%;
   
}


#image-profile-menu-container img{
    position: relative;
    left:40%;
    width:20%;
    height:80%;
}

#username-profile-menu-container{
    text-align: center;
    position: relative;
    font-size:10pt;
    font-family: "Open Sans", sans-serif;
    width:100%;
    height:20%;
    
}

#buttons-menu-container{
    position: relative;
    width: 100%;
    height:85%;
   
}

.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height:10%;
    transition-duration: 0.4s;
    cursor: pointer;
    width:100%;
    font-family: "Open Sans", sans-serif;
    margin-bottom:1%;
  }

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
  
  .button4:hover {background-color: #e7e7e7;}
  
  .button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }

  #image-mylast-application-container{
    position: relative;
    width:10%;
    height:100%;

    display: inline-block;
  }


  #image-mylast-application-container{
    position: relative;
    width:20%;
    height:100%;
   
    display: inline-block;
  }

  
  #image-mylast-application-container img{
    position: relative;
    width:100%;
    height:30%;
    top:25%;
    
    float:right;
  }
  
  #desc-mylast-application-container{
    position: relative;
    width:78%;
    height:100%;
    margin-right:1%;
    display: inline-block;
  }

  #title-desc-mylast-application-container{
    position: relative;
    width:100%;
    height:20%;
    margin-top:1%;
    float:left;
    font-family: "Open Sans", sans-serif;
    
  }

  #description-desc-mylast-application-container{
    position: relative;
    width:100%;
    height:50%;
    font-size: 10pt;
    float:right;
    font-family: "Open Sans", sans-serif;
    overflow: auto;
 
  }

  #details-description-desc-mylast-application-container{
    position: relative;
    width:100%;
    height:10%;
    font-size: 10pt;
    float:right;
    font-family: "Open Sans", sans-serif;


  }

  #location-details-description-desc-mylast-application-container{
    position: relative;
    width:20%;
    height:100%;
    font-size: 10pt;
    float:right;
    font-family: "Open Sans", sans-serif;
  

  }

  #location-details-description-desc-mylast-application-container img{
    position: relative;
    width:100%;
    height:100%;
    
  }

  


#img-location-details-description-desc-mylast-application-container{
    position: relative;
    width:10%;
    height:100%;
    
    float:left;
   
    
}

#text-location-details-description-desc-mylast-application-container{
    position: relative;
    width:85%;
    height:100%;
    font-size: 8pt;
    float:right;
    color:#9c9c9c;
   

}
  #views-details-description-desc-mylast-application-container{
    position: relative;
    width:20%;
    height:100%;
    font-size: 10pt;
    float:right;
    font-family: "Open Sans", sans-serif;
 
   
  }

  #seemore-details-description-desc-mylast-application-container{
    position: relative;
    width:20%;
    height:100%;
    font-size: 10pt;
    float:right;
    font-family: "Open Sans", sans-serif;
 
   
  }


  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f1f6ff;

  }

  .line-details-container{
    position: relative;
    font-size: 8pt;
    width:100%;
    height:20%;
    
  }

  .image-line-details-container{
    position: relative;
    
    width:10%;
    height:100%;
    display: inline-block;
    
  }

  
  .image-line-details-container img{
    position: relative;
    width:30%;
    height:30%;
    left:25%;
  }

  .text-line-details-container{
    position: relative;
    width:90%;
    height:100%;
    float:right;
    
  }

  .welcomeback-text-line-details-container{
    position: relative;
    width:100%;
    height:100%;
    float:right;

    margin-bottom: 1%;
    
  }

  #newest-mylast-application-container{
    width: 100%;
    height:10%;


  }

  #newest-mylast-application-container span{
    font-family: "Open Sans", sans-serif;
    color:#9c9c9c;
    font-size: 8pt;
  }

  #title-companies-container{
    position: relative;

    width:100%;
    height:20%;
  }
#title-companies-container{
    font-family: "Open Sans", sans-serif;
    color:#9c9c9c;
    font-size: 7pt;
}
