<!DOCTYPE html>
<html>
 
<head>
 <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/companies.css') }}" />
</head>

<body>
{% extends 'base.html' %}

{% block content %}

<body>

    
    
    <div id="boxes">
 
        <div class="leftbox">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt="Forest" style="width:100%">
            
        </div>
 
        <div id="middlebox">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/800px-Google_2015_logo.svg.png" alt="Forest" style="width:100%">
        </div>
 
        <div id="rightbox">
          
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Microsoft_logo_%282012%29.svg/2560px-Microsoft_logo_%282012%29.svg.png" alt="Snow" style="width:100%">
        </div>
        
    </div>
    </body>
{% endblock %}
</body>
</html>