
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/jobs.css') }}" />
<script type = "text/javascript" src="{{ url_for('static', filename='./js/jobs.js') }}"></script>
</head>
<body>
{%extends "base.html"%}
{% block content %}
<div class="wrapper">
  <div id="checkbox-container">
    <div id="companies-checkbox">
      <div class="left-container-checkbox">
        <label class="container">Microsoft
          <input type="checkbox" checked="checked" onclick='handleClick(this);'  value="Microsoft">
          <span class="checkmark"></span>
        </label>
        <label class="container">Amazon
          <input type="checkbox" checked="checked" onclick='handleClick(this);'  value="Amazon">
          <span class="checkmark"></span>
        </label>
        <label class="container">Palo Alto
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">Monday
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="middle-container-checkbox">
        <label class="container">SAP
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">Intuit
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">Nvidia
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">AppsFlyer
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="right-container-checkbox">
        <label class="container">Chegg
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">Taboola
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">Intel
          <input type="checkbox" checked="checked" onclick='handleClick(this);'  value="Intel">
          <span class="checkmark"></span>
        </label>
        <label class="container">Lemonade
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
      </div>
      
    </div>
    <div id="lang-checkbox">
      <div class="left-container-checkbox">
        <label class="container">C++
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">Python
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">C
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">JavaScript
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="middle-container-checkbox">
        <label class="container">PHP
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">Java
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">COBOL
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">React
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="right-container-checkbox">
        <label class="container">Node.js
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">Rubby
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">HTML
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">CSS
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </div>
 <div id="wrapper-jobs-container">
</div>
  </div>
</div>



<script defer>
var data = JSON.parse(('{{jobs|safe}}'))
console.log(data) 
function deployJobsContainer(data){
  var i=0
  while(i< data.length){
      buildJobContainer(data,i)
  i++
  }
}
deployJobsContainer(data)
</script>

{% endblock %}

</body>
</html>

