{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>JobHub</title>
    <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sizeConf.css') }}" />
    <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/scroll.css') }}" />
    <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/sb-admin-2.min.css') }}" />
</head>
<body id="page-top" class="h-100" >
    {% include "top_bar.html" %}
    <div id="wrapper" class="h-100">
        {% include "sidebar.html" %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <body id="page-top" class="h-100">
                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Jobs</h1>
                    </div>
                    <div class="loader"></div>
                    <div class="row">
                        <div class="col-lg-6">
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js')}}"></script>
    <script type="module" src="{{ url_for('static', filename='js/jobs&savedjobs/jobs/main.js')}}"></script>
</body>

{% endblock %}
{% include  'logout.html' %}