 <!-- Sidebar -->
 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="./main">
        <div class="sidebar-brand-icon">
            <i class="fas fa-solid fa-user-tie"></i>
           
        </div>
        <div class="sidebar-brand-text mx-3">JobHub</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="./main">
            
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

<!-- Nav Item - Jobs Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseJobs"
        aria-expanded="true" aria-controls="collapseJobs">
        <i class="fa fa-briefcase"></i>
        <span>Jobs</span>
    </a>
    <div id="collapseJobs" class="collapse" aria-labelledby="headingJobs"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" href="/jobs">Jobs</a>
            <a class="collapse-item" href="/savedjobs">Saved jobs</a>
        </div>
    </div>
</li>

<!-- Nav Item - My Applications Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseApplications"
        aria-expanded="true" aria-controls="collapseApplications">
        <i class="fa fa-book"></i>
        <span>My applications</span>
    </a>
    <div id="collapseApplications" class="collapse" aria-labelledby="headingApplications"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" href="./applications">All</a>
            <a class="collapse-item" href="./applications">Active</a>
            <a class="collapse-item" href="./applications">Inactive</a>
            <a class="collapse-item" href="./applications">Today</a>
        </div>
    </div>
</li>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/connections"  data-target="#collapsePages"
                 aria-expanded="true" aria-controls="collapsePages">
            <i class="fa fa-users"></i>
            <span>My connections</span>
        </a>
    </li>
    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="#" onClick="alert('Coming soon..')">
            <i class="fa fa-question"></i>
            <span>My questions</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#" onClick="alert('Coming soon..')">
            <i class="fa fa-thumbtack"></i>
            <span>My tasks</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->
</section>